In [1]:
import os
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
import xgboost as xgb
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [2]:
actual_path = os.path.dirname(os.path.realpath('__file__'))

raw_data_train = open(actual_path+'/house-prices-advanced-regression-techniques/train.csv', 'rt')
raw_data_test = open(actual_path+'/house-prices-advanced-regression-techniques/test.csv', 'rt')

df = pd.read_csv(raw_data_train)
test = pd.read_csv(raw_data_test)

# Data Exploration
Here's a brief version of what you'll find in the data description file.

- SalePrice - the property's sale price in dollars. This is the target variable that you're trying to predict.
- MSSubClass: The building class
- MSZoning: The general zoning classification
- LotFrontage: Linear feet of street connected to property
- LotArea: Lot size in square feet
- Street: Type of road access
- Alley: Type of alley access
- LotShape: General shape of property
- LandContour: Flatness of the property
- Utilities: Type of utilities available
- LotConfig: Lot configuration
- LandSlope: Slope of property
- Neighborhood: Physical locations within Ames city limits
- Condition1: Proximity to main road or railroad
- Condition2: Proximity to main road or railroad (if a second is present)
- BldgType: Type of dwelling
- HouseStyle: Style of dwelling
- OverallQual: Overall material and finish quality
- OverallCond: Overall condition rating
- YearBuilt: Original construction date
- YearRemodAdd: Remodel date
- RoofStyle: Type of roof
- RoofMatl: Roof material
- Exterior1st: Exterior covering on house
- Exterior2nd: Exterior covering on house (if more than one material)
- MasVnrType: Masonry veneer type
- MasVnrArea: Masonry veneer area in square feet
- ExterQual: Exterior material quality
- ExterCond: Present condition of the material on the exterior
- Foundation: Type of foundation
- BsmtQual: Height of the basement
- BsmtCond: General condition of the basement
- BsmtExposure: Walkout or garden level basement walls
- BsmtFinType1: Quality of basement finished area
- BsmtFinSF1: Type 1 finished square feet
- BsmtFinType2: Quality of second finished area (if present)
- BsmtFinSF2: Type 2 finished square feet
- BsmtUnfSF: Unfinished square feet of basement area
- TotalBsmtSF: Total square feet of basement area
- Heating: Type of heating
- HeatingQC: Heating quality and condition
- CentralAir: Central air conditioning
- Electrical: Electrical system
- 1stFlrSF: First Floor square feet
- 2ndFlrSF: Second floor square feet
- LowQualFinSF: Low quality finished square feet (all floors)
- GrLivArea: Above grade (ground) living area square feet
- BsmtFullBath: Basement full bathrooms
- BsmtHalfBath: Basement half bathrooms
- FullBath: Full bathrooms above grade
- HalfBath: Half baths above grade
- Bedroom: Number of bedrooms above basement level
- Kitchen: Number of kitchens
- KitchenQual: Kitchen quality
- TotRmsAbvGrd: Total rooms above grade (does not include bathrooms)
- Functional: Home functionality rating
- Fireplaces: Number of fireplaces
- FireplaceQu: Fireplace quality
- GarageType: Garage location
- GarageYrBlt: Year garage was built
- GarageFinish: Interior finish of the garage
- GarageCars: Size of garage in car capacity
- GarageArea: Size of garage in square feet
- GarageQual: Garage quality
- GarageCond: Garage condition
- PavedDrive: Paved driveway
- WoodDeckSF: Wood deck area in square feet
- OpenPorchSF: Open porch area in square feet
- EnclosedPorch: Enclosed porch area in square feet
- 3SsnPorch: Three season porch area in square feet
- ScreenPorch: Screen porch area in square feet
- PoolArea: Pool area in square feet
- PoolQC: Pool quality
- Fence: Fence quality
- MiscFeature: Miscellaneous feature not covered in other categories
- MiscVal: $Value of miscellaneous feature
- MoSold: Month Sold
- YrSold: Year Sold
- SaleType: Type of sale
- SaleCondition: Condition of sale

In [3]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

We can see that there is ID column, this column could be remove

In [4]:
df = df.drop('Id', axis=1)

In [5]:
df.info()
print("\nTotal rows", len(df))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 80 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   object
 2   LotFrontage    1201 non-null   float64
 3   LotArea        1460 non-null   int64
 4   Street         1460 non-null   object
 5   Alley          91 non-null     object
 6   LotShape       1460 non-null   object
 7   LandContour    1460 non-null   object
 8   Utilities      1460 non-null   object
 9   LotConfig      1460 non-null   object
 10  LandSlope      1460 non-null   object
 11  Neighborhood   1460 non-null   object
 12  Condition1     1460 non-null   object
 13  Condition2     1460 non-null   object
 14  BldgType       1460 non-null   object
 15  HouseStyle     1460 non-null   object
 16  OverallQual    1460 non-null   int64
 17  OverallCond    1460 non-null   int64
 18  YearBuilt      1460 non-null   int64
 19  YearRemodAdd   1460 non-null   int64
 20  RoofStyle      1460 non-null   object
 21  RoofMatl       1460 non-null   object
 22  Exterior1st    1460 non-null   object
 23  Exterior2nd    1460 non-null   object
 24  MasVnrType     1452 non-null   object
 25  MasVnrArea     1452 non-null   float64
 26  ExterQual      1460 non-null   object
 27  ExterCond      1460 non-null   object
 28  Foundation     1460 non-null   object
 29  BsmtQual       1423 non-null   object
 30  BsmtCond       1423 non-null   object
 31  BsmtExposure   1422 non-null   object
 32  BsmtFinType1   1423 non-null   object
 33  BsmtFinSF1     1460 non-null   int64
 34  BsmtFinType2   1422 non-null   object
 35  BsmtFinSF2     1460 non-null   int64
 36  BsmtUnfSF      1460 non-null   int64
 37  TotalBsmtSF    1460 non-null   int64
 38  Heating        1460 non-null   object
 39  HeatingQC      1460 non-null   object
 40  CentralAir     1460 non-null   object
 41  Electrical     1459 non-null   object
 42  1stFlrSF       1460 non-null   int64
 43  2ndFlrSF       1460 non-null   int64
 44  LowQualFinSF   1460 non-null   int64
 45  GrLivArea      1460 non-null   int64
 46  BsmtFullBath   1460 non-null   int64
 47  BsmtHalfBath   1460 non-null   int64
 48  FullBath       1460 non-null   int64
 49  HalfBath       1460 non-null   int64
 50  BedroomAbvGr   1460 non-null   int64
 51  KitchenAbvGr   1460 non-null   int64
 52  KitchenQual    1460 non-null   object
 53  TotRmsAbvGrd   1460 non-null   int64
 54  Functional     1460 non-null   object
 55  Fireplaces     1460 non-null   int64
 56  FireplaceQu    770 non-null    object
 57  GarageType     1379 non-null   object
 58  GarageYrBlt    1379 non-null   float64
 59  GarageFinish   1379 non-null   object
 60  GarageCars     1460 non-null   int64
 61  GarageArea     1460 non-null   int64
 62  GarageQual     1379 non-null   object
 63  GarageCond     1379 non-null   object
 64  PavedDrive     1460 non-null   object
 65  WoodDeckSF     1460 non-null   int64
 66  OpenPorchSF    1460 non-null   int64
 67  EnclosedPorch  1460 non-null   int64
 68  3SsnPorch      1460 non-null   int64
 69  ScreenPorch    1460 non-null   int64
 70  PoolArea       1460 non-null   int64
 71  PoolQC         7 non-null      object
 72  Fence          281 non-null    object
 73  MiscFeature    54 non-null     object
 74  MiscVal        1460 non-null   int64
 75  MoSold         1460 non-null   int64
 76  YrSold         1460 non-null   int64
 77  SaleType       1460 non-null   object
 78  SaleCondition  1460 non-null   object
 79  SalePrice      1460 non-null   int64
dtypes: float64(3), int64(34), object(43)
memory usage: 912.6+ KB

Total rows 1460

In [6]:
len(df)

1460

Si vemos que tenemos pocos ejemplos, vamos a ver cuantos de estos ejemplos son buenos. Vamos a ver cuantos nmulls hay

In [7]:
df.shape

(1460, 80)

In [8]:
columns_droped = []
count_nulls = df.isnull().sum()
for column, count in count_nulls.items():
    if count > 100:
        print(f"Column: {column}, Null counts: {count}")
        columns_droped.append(column)
        df = df.drop(column, axis=1)

Column: LotFrontage, Null counts: 259
Column: Alley, Null counts: 1369
Column: FireplaceQu, Null counts: 690
Column: PoolQC, Null counts: 1453
Column: Fence, Null counts: 1179
Column: MiscFeature, Null counts: 1406

In [9]:
df.shape

(1460, 74)

In [10]:
df.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,20,RL,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,60,RL,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,70,RL,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,60,RL,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000

Check that the same column has different values

In [11]:
for column_name in df.columns:
    if df[column_name].nunique() == 1:
        print(column_name)

Transform no numeric data to numeric data

In [12]:
categorical_columns = df.select_dtypes(['object']).columns
print("Categorical columns:",len(categorical_columns))

df[categorical_columns] = df[categorical_columns].apply(lambda x: pd.factorize(x)[0])

Categorical columns: 38

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 74 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1460 non-null   int64
 1   MSZoning       1460 non-null   int64
 2   LotArea        1460 non-null   int64
 3   Street         1460 non-null   int64
 4   LotShape       1460 non-null   int64
 5   LandContour    1460 non-null   int64
 6   Utilities      1460 non-null   int64
 7   LotConfig      1460 non-null   int64
 8   LandSlope      1460 non-null   int64
 9   Neighborhood   1460 non-null   int64
 10  Condition1     1460 non-null   int64
 11  Condition2     1460 non-null   int64
 12  BldgType       1460 non-null   int64
 13  HouseStyle     1460 non-null   int64
 14  OverallQual    1460 non-null   int64
 15  OverallCond    1460 non-null   int64
 16  YearBuilt      1460 non-null   int64
 17  YearRemodAdd   1460 non-null   int64
 18  RoofStyle      1460 non-null   int64
 19  RoofMatl       1460 non-null   int64
 20  Exterior1st    1460 non-null   int64
 21  Exterior2nd    1460 non-null   int64
 22  MasVnrType     1460 non-null   int64
 23  MasVnrArea     1452 non-null   float64
 24  ExterQual      1460 non-null   int64
 25  ExterCond      1460 non-null   int64
 26  Foundation     1460 non-null   int64
 27  BsmtQual       1460 non-null   int64
 28  BsmtCond       1460 non-null   int64
 29  BsmtExposure   1460 non-null   int64
 30  BsmtFinType1   1460 non-null   int64
 31  BsmtFinSF1     1460 non-null   int64
 32  BsmtFinType2   1460 non-null   int64
 33  BsmtFinSF2     1460 non-null   int64
 34  BsmtUnfSF      1460 non-null   int64
 35  TotalBsmtSF    1460 non-null   int64
 36  Heating        1460 non-null   int64
 37  HeatingQC      1460 non-null   int64
 38  CentralAir     1460 non-null   int64
 39  Electrical     1460 non-null   int64
 40  1stFlrSF       1460 non-null   int64
 41  2ndFlrSF       1460 non-null   int64
 42  LowQualFinSF   1460 non-null   int64
 43  GrLivArea      1460 non-null   int64
 44  BsmtFullBath   1460 non-null   int64
 45  BsmtHalfBath   1460 non-null   int64
 46  FullBath       1460 non-null   int64
 47  HalfBath       1460 non-null   int64
 48  BedroomAbvGr   1460 non-null   int64
 49  KitchenAbvGr   1460 non-null   int64
 50  KitchenQual    1460 non-null   int64
 51  TotRmsAbvGrd   1460 non-null   int64
 52  Functional     1460 non-null   int64
 53  Fireplaces     1460 non-null   int64
 54  GarageType     1460 non-null   int64
 55  GarageYrBlt    1379 non-null   float64
 56  GarageFinish   1460 non-null   int64
 57  GarageCars     1460 non-null   int64
 58  GarageArea     1460 non-null   int64
 59  GarageQual     1460 non-null   int64
 60  GarageCond     1460 non-null   int64
 61  PavedDrive     1460 non-null   int64
 62  WoodDeckSF     1460 non-null   int64
 63  OpenPorchSF    1460 non-null   int64
 64  EnclosedPorch  1460 non-null   int64
 65  3SsnPorch      1460 non-null   int64
 66  ScreenPorch    1460 non-null   int64
 67  PoolArea       1460 non-null   int64
 68  MiscVal        1460 non-null   int64
 69  MoSold         1460 non-null   int64
 70  YrSold         1460 non-null   int64
 71  SaleType       1460 non-null   int64
 72  SaleCondition  1460 non-null   int64
 73  SalePrice      1460 non-null   int64
dtypes: float64(2), int64(72)
memory usage: 844.2 KB

In [14]:
df.head()

,MSSubClass,MSZoning,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,0,8450,0,0,0,0,0,0,0,...,0,0,0,0,0,2,2008,0,0,208500
1,20,0,9600,0,0,0,0,1,0,1,...,0,0,0,0,0,5,2007,0,0,181500
2,60,0,11250,0,1,0,0,0,0,0,...,0,0,0,0,0,9,2008,0,0,223500
3,70,0,9550,0,1,0,0,2,0,2,...,272,0,0,0,0,2,2006,0,1,140000
4,60,0,14260,0,1,0,0,1,0,3,...,0,0,0,0,0,12,2008,0,0,250000

# Model

In [15]:
df_target = df['SalePrice']
df_data = df.drop(columns=['SalePrice'])

In [16]:
X_train, X_test, y_train, y_test = train_test_split(df_data, df_target, test_size=0.2, random_state=0)

Now we'll load up XGBoost, and convert our data into the DMatrix format it expects. One for the training data, and one for the test data.

In [17]:
train = xgb.DMatrix(X_train, label=y_train)
test_train = xgb.DMatrix(X_test, label=y_test)

Now we'll define our hyperparameters. We're choosing softmax since this is a multiple classification problem, but the other parameters should ideally be tuned through experimentation.

In [18]:
param = {
    'max_depth': 8,
    'eta': 0.5,
    'objective': 'reg:squarederror',
    } 
epochs = 20

Let's go ahead and train our model using these parameters as a first guess.

In [19]:
model = xgb.train(param, train, epochs)

In [20]:
predictions = model.predict(test_train)

In [21]:
mse = mean_squared_error(y_test, predictions)
mse

1020566315.6399158

In [22]:
r2 = r2_score(y_test, predictions)
r2

0.8522171317130299

# Final Test

In [23]:
test.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [24]:
id_colum_test = test['Id']
test = test.drop(columns=['Id'])

In [25]:
# columns_droped
for column_name in test.columns:
    if column_name in columns_droped:
        test = test.drop(columns=[column_name])

In [26]:
categorical_columns = test.select_dtypes(['object']).columns
test[categorical_columns] = test[categorical_columns].apply(lambda x: pd.factorize(x)[0])

In [27]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 73 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   MSSubClass     1459 non-null   int64
 1   MSZoning       1459 non-null   int64
 2   LotArea        1459 non-null   int64
 3   Street         1459 non-null   int64
 4   LotShape       1459 non-null   int64
 5   LandContour    1459 non-null   int64
 6   Utilities      1459 non-null   int64
 7   LotConfig      1459 non-null   int64
 8   LandSlope      1459 non-null   int64
 9   Neighborhood   1459 non-null   int64
 10  Condition1     1459 non-null   int64
 11  Condition2     1459 non-null   int64
 12  BldgType       1459 non-null   int64
 13  HouseStyle     1459 non-null   int64
 14  OverallQual    1459 non-null   int64
 15  OverallCond    1459 non-null   int64
 16  YearBuilt      1459 non-null   int64
 17  YearRemodAdd   1459 non-null   int64
 18  RoofStyle      1459 non-null   int64
 19  RoofMatl       1459 non-null   int64
 20  Exterior1st    1459 non-null   int64
 21  Exterior2nd    1459 non-null   int64
 22  MasVnrType     1459 non-null   int64
 23  MasVnrArea     1444 non-null   float64
 24  ExterQual      1459 non-null   int64
 25  ExterCond      1459 non-null   int64
 26  Foundation     1459 non-null   int64
 27  BsmtQual       1459 non-null   int64
 28  BsmtCond       1459 non-null   int64
 29  BsmtExposure   1459 non-null   int64
 30  BsmtFinType1   1459 non-null   int64
 31  BsmtFinSF1     1458 non-null   float64
 32  BsmtFinType2   1459 non-null   int64
 33  BsmtFinSF2     1458 non-null   float64
 34  BsmtUnfSF      1458 non-null   float64
 35  TotalBsmtSF    1458 non-null   float64
 36  Heating        1459 non-null   int64
 37  HeatingQC      1459 non-null   int64
 38  CentralAir     1459 non-null   int64
 39  Electrical     1459 non-null   int64
 40  1stFlrSF       1459 non-null   int64
 41  2ndFlrSF       1459 non-null   int64
 42  LowQualFinSF   1459 non-null   int64
 43  GrLivArea      1459 non-null   int64
 44  BsmtFullBath   1457 non-null   float64
 45  BsmtHalfBath   1457 non-null   float64
 46  FullBath       1459 non-null   int64
 47  HalfBath       1459 non-null   int64
 48  BedroomAbvGr   1459 non-null   int64
 49  KitchenAbvGr   1459 non-null   int64
 50  KitchenQual    1459 non-null   int64
 51  TotRmsAbvGrd   1459 non-null   int64
 52  Functional     1459 non-null   int64
 53  Fireplaces     1459 non-null   int64
 54  GarageType     1459 non-null   int64
 55  GarageYrBlt    1381 non-null   float64
 56  GarageFinish   1459 non-null   int64
 57  GarageCars     1458 non-null   float64
 58  GarageArea     1458 non-null   float64
 59  GarageQual     1459 non-null   int64
 60  GarageCond     1459 non-null   int64
 61  PavedDrive     1459 non-null   int64
 62  WoodDeckSF     1459 non-null   int64
 63  OpenPorchSF    1459 non-null   int64
 64  EnclosedPorch  1459 non-null   int64
 65  3SsnPorch      1459 non-null   int64
 66  ScreenPorch    1459 non-null   int64
 67  PoolArea       1459 non-null   int64
 68  MiscVal        1459 non-null   int64
 69  MoSold         1459 non-null   int64
 70  YrSold         1459 non-null   int64
 71  SaleType       1459 non-null   int64
 72  SaleCondition  1459 non-null   int64
dtypes: float64(10), int64(63)
memory usage: 832.2 KB

In [28]:
test = xgb.DMatrix(test)

In [29]:
final_predictions = model.predict(test)

Create the result dataframe

In [30]:
id_colum_test.shape
final_predictions.shape

(1459,)

In [31]:
submission = pd.DataFrame({
    'Id': id_colum_test,
    'SalePrice': final_predictions
})
submission.shape

(1459, 2)

In [32]:
submission.head()

     Id      SalePrice
0  1461  143856.937500
1  1462  152923.671875
2  1463  221707.171875
3  1464  178827.156250
4  1465  211914.546875

Save the result on CSV

In [33]:
submission.to_csv(actual_path+'/submission.csv', index=False)